/* Custom-Font-Kits Starts*/

@font-face {
  font-family: 'opensansbold';
  src: url(/fonts/opensans-bold.woff2?b891a58005bcda42360a3b2da46b7424) format("woff2"), url(/fonts/opensans-bold.woff?9b2a7fc797c50e0f96f98fe60e342843) format("woff");
}

@font-face {
  font-family: 'opensansregular';
  src: url(/fonts/opensans-regular.woff2?aac2f060596c5c243690782869876657) format("woff2"), url(/fonts/opensans-regular.woff?224b181c46bd8aa8ffa8478ac045b1f3) format("woff");
}

.card-default {
  background-color: #edf0f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.card-header {
  display: none;
}

/* Custom-Font-Kits Ends*/

.congs-body .row {
  margin: 0;
}

.congs-wrapper {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 120px 0;
}

.congs-bttn {
  display: block;
}

.congs-align-stg {
  text-align: center;
}

p.congs-line1 {
  font-size: 95px;
  font-family: opensansbold;
  max-width: 100%;
  color: #505050;
  margin: 0 auto;
}

p.congs-line2 {
  font-size: 20px;
  width: 100%;
  color: #505050;
  font-family: opensansregular;
  max-width: 722px;
  margin: 37px auto;
  padding: 0 16px;
}

a.congs-line3 {
  font-size: 25px;
  font-family: opensansbold;
  padding: 30px 0px;
  background-color: #ffa800;
  border-radius: 19px;
  color: #fff;
  display: block;
  max-width: 435px;
  margin: 0 auto;
}

a.congs-line3:hover {
  background-color: #d18a00;
  text-decoration: none;
}

.cong-btn {
  margin: 40px auto 0;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  p.congs-line1 {
    font-size: 58px;
  }

  p.congs-line2 {
    font-size: 18px;
    max-width: 556px;
    padding: 0 16px;
  }

  .cong-btn {
    margin: 24px auto 0;
  }

  a.congs-line3 {
    font-size: 22px;
    padding: 22px 0px;
    border-radius: 13px;
    max-width: 356px;
  }
}

@media only screen and (max-width: 767px) {
  p.congs-line1 {
    font-size: 43px;
  }

  p.congs-line2 {
    font-size: 16px;
    max-width: 396px;
    margin: 37px auto;
    padding: 0 16px;
  }

  .cong-btn {
    margin: 10px auto 0;
  }

  a.congs-line3 {
    font-size: 16px;
    padding: 16px 0px;
    border-radius: 7px;
    max-width: 283px;
  }
}

