<template>
    <v-container grid-list-md text-xs-center >
        <v-layout row wrap v-if="hasAccess">
            <v-flex xs12 class="main-tool-heading">
                <h2 class="feature-heading">{{productName}} Branding</h2>
            </v-flex>
           <v-flex v-for="(tools,index) in toolsData" :key="index" md4 class="listed-tools"  v-if="tools.product_id == Parenttools">
                <div v-if="tools.product_id == Parenttools">
                    <v-btn v-if="tools.type == 'file' " depressed title="Click To Download" download target="_blank" :href="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + tools.file">
                        <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/'+ tools.file" />
                        <p>{{tools.title}}</p>
                        <span class="white--text">Download Now</span>
                    </v-btn>
                    <v-btn v-if="tools.type == 'certificate' " depressed title="Click To Download" target="_blank" :href="'branding/my_certificate/' + tools.product_id" >
                        <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/'+ tools.file" />
                        <p>{{tools.title}}</p>
                        <span class="white--text">Download Now</span>
                    </v-btn>
                </div>
            </v-flex>
        </v-layout>
        <v-layout v-else >
            <v-alert
            :value="true"
            type="warning"
            >
            You have to first finish all the training phases of {{productName}} in order to unlock Branding.
            </v-alert>
        </v-layout>
    </v-container>
     
    
</template>


<script>

    //import toolsData from '../config/branding.json';
    import toolsData from '../config/AllBrandings.json';
    export default {
        name: 'toolDetails',
        props: {
            Parenttools: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'toolsData': toolsData,
                'productName':'',
                'hasAccess': false
            }
        },
         methods: {
            hasAccessFtn: function() {
                
                //verify branding access
                axios.get('/api/branding/has/access/' + this.Parenttools)
                    
                .then(res => {
                    this.hasAccess   = res.data;

                
                })
                .catch(error => {
                       
                });
                
            },
            getProductName: function(){

                //get the product name
                axios.get('/api/product/name/'+ this.Parenttools)
            
                .then(res => {
                        this.productName = res.data
                  
                
                }) .catch(error => {
                       // alert(error)
                });

            }
         },
    
        mounted() {
            
            //get all the brandings
            axios.get('/api/all-brandings')
          
            .then(res => {
                this.toolsData   = res.data;
               
            })
            .catch(error => {
                    //alert(error)
            });

            this.Parenttools = parseInt(this.$route.params.p);

            this.hasAccessFtn();

            this.getProductName();
            
        },
         watch:{
            $route() { // on route change, fetch the data again
                
                this.getProductName();

                this.hasAccessFtn();
                
            }//route ended   
        }
    }
</script>