<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            
              <!--       ============= in Progress courses ================= -->
            <v-flex xs12>
                <v-card flat style="background-color: transparent">
                    <v-card-title>
                        <h2>In Progress</h2>
                    </v-card-title>
                    <v-layout row wrap pa-2>
                        <v-flex v-for="(active,index) in inProgressCourses" :key="index" sm6 md4 v-if="active.href">
                            <v-card light flat class="listed-score-cources">
                                <v-card-text class="px-2">
                                    <v-layout row wrap>
                                        <v-flex sm4>
                                            <v-avatar class="seal-parent">
                                                <img style="max-width:78px" :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' +active.seal" :alt="active.courseName">
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex sm8>
                                            <span style="display:block">{{active.courseName}}</span>
                                            <!-- <v-btn color="primary" class="white--text" depressed @click.stop="showModalDetails(index)">View Details</v-btn> -->
    
                                            <v-btn icon :href="active.href" depressed class="white--text resumeButton" color="primary">
                                                Resume
                                            </v-btn>
    
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-dialog v-model="dialog" width="750">
                            <v-card v-for="(course,index,value) in activeCourses" :key="index">
                                <v-card-title class="headline grey lighten-2" primary-title>
                                    {{ course.courseName}}
                                </v-card-title>
                                <!--<ul>-->
                                <!--<li v-for="(item, key, valIn) in course.phase">-->
                                <!--{{ item.phase1 }} - {{ key }}-->
                                <!--</li>-->
                                <!--</ul>-->
    
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex v-for="(item,index1) in course.phase" :key="index1" xs3>
    
                                            <!-- <h4 class="mb-2">Section{{ index1 }}:</h4> -->
    
                                            <div class="listed-phase">
                                                <v-card flat>
    
    
                                                    <v-card-text class="px-0" v-if="item">
                                                        Section {{index1 + 1}} : Score {{ item+' %' }}
                                                    </v-card-text>
    
                                                </v-card>
    
                                            </div>
    
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
    
                                <v-divider></v-divider>
    
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" flat @click="dialog = false">
                                        Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                </v-card>
            </v-flex>
            <!-- ============= in Progress courses ended=================  -->

               <!-- Not yet started Courses -->
    
            <v-flex xs12>
                <v-card flat style="background-color: transparent">
                    <v-card-title>
                        <h2>Available Programs</h2>
                    </v-card-title>
                    <v-layout row wrap pa-2>
                        <v-flex v-for="(active,index) in notYetStartedCourses" :key="index" sm6 md4 v-if="active.href">
                            <v-card light flat class="listed-score-cources">
                                <v-card-text class="px-2">
                                    <v-layout row wrap>
                                        <v-flex sm4>
                                            <v-avatar class="seal-parent">
                                                <img style="max-width:78px" :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' +active.seal" :alt="active.courseName">
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex sm8>
                                            <span style="display:block">{{active.courseName}}</span>
                                            <!-- <v-btn color="primary" class="white--text" depressed @click.stop="showModalDetails(index)">View Details</v-btn> -->
    
                                            <v-btn icon :href="active.href" depressed class="white--text resumeButton" color="primary">
                                                Start Now
                                            </v-btn>
    
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-dialog v-model="dialog" width="750">
                            <v-card v-for="(course,index,value) in activeCourses" :key="index">
                                <v-card-title class="headline grey lighten-2" primary-title>
                                    {{ course.courseName}}
                                </v-card-title>
                                <!--<ul>-->
                                <!--<li v-for="(item, key, valIn) in course.phase">-->
                                <!--{{ item.phase1 }} - {{ key }}-->
                                <!--</li>-->
                                <!--</ul>-->
    
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex v-for="(item,index1) in course.phase" :key="index1" xs3>
    
                                            <!-- <h4 class="mb-2">Section{{ index1 }}:</h4> -->
    
                                            <div class="listed-phase">
                                                <v-card flat>
    
    
                                                    <v-card-text class="px-0" v-if="item">
                                                        Section {{index1 + 1}} : Score {{ item+' %' }}
                                                    </v-card-text>
    
                                                </v-card>
    
                                            </div>
    
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
    
                                <v-divider></v-divider>
    
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" flat @click="dialog = false">
                                        Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                </v-card>
            </v-flex>
    
            <!-- Not yet started Courses ended -->

            <!--       ============= fininshed courses ================= -->
            <v-flex xs12>
                <v-card flat style="background-color: transparent">
                    <v-card-title>
                        <h2>Completed</h2>
                    </v-card-title>
                    <v-layout row wrap pa-2>
                        <v-flex v-for="(active,index) in completedCourses" :key="index" sm6 md4 v-if="active.completed">
                            <v-card light flat class="listed-score-cources">
                                <v-card-text class="px-2">
                                    <v-layout row wrap>
                                        <v-flex sm4>
                                            <v-avatar class="seal-parent">
                                                <img style="max-width:78px" :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' +active.seal" :alt="active.courseName">
                                            </v-avatar>
                                        </v-flex>
                                        <v-flex sm8>
                                            <span style="display:block">{{active.courseName}}</span>
                                            <v-btn color="primary" class="white--text" depressed @click.stop="showModalDetails(index)">View Details</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-dialog v-model="dialog" width="750">
                            <v-card v-for="(course,index,value) in activeCourses" :key="index">
                                <v-card-title class="headline grey lighten-2" primary-title>
                                    {{ course.courseName}}
                                </v-card-title>
                                <!--<ul>-->
                                <!--<li v-for="(item, key, valIn) in course.phase">-->
                                <!--{{ item.phase1 }} - {{ key }}-->
                                <!--</li>-->
                                <!--</ul>-->
    
                                <v-card-text>
                                    <v-layout row wrap>
                                        <v-flex v-for="(item,index1) in course.phase" :key="index1" xs3>
    
                                            <!-- <h4 class="mb-2">Section{{ index1 }}:</h4> -->
    
                                            <div class="listed-phase">
                                                <v-card flat>
    
    
                                                    <v-card-text class="px-0" v-if="item">
                                                        Section {{index1 + 1}} : Score {{ item+' %' }}
                                                    </v-card-text>
    
                                                </v-card>
    
                                            </div>
    
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
    
                                <v-divider></v-divider>
    
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" flat @click="dialog = false">
                                        Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                </v-card>
            </v-flex>
            <!-- ============= fininshed courses =================  -->
    
          
    
    
         
    
    
        </v-layout>
    </v-container>
</template>

<script>
    import activeSubscriptions from '../config/score.json';
    export default {
        data() {
            return {
                num: 0,
                dialog: false,
                activeSubscriptions: activeSubscriptions,
                completedCourses: '',
                inProgressCourses: '',
                notYetStartedCourses: ''
            }
        },
        methods: {
            showModalDetails: function(index) {
                //console.log(this.activeSubscriptions);
    
                for (var i = 0; i < this.activeSubscriptions.length; i++) {
                    this.activeSubscriptions[i].modal = false;
                }
                this.activeSubscriptions[index].modal = true;
                this.dialog = true;
            },
    
            //completed courses
            getCompletedCoursesScore: function() {
    
                axios.get('/api/completed/course/training/score')
    
                    .then(res => {
                        //console.log(res.data);
                        this.completedCourses = res.data
                    }).catch(error => {
                        //alert(error)
                    });
    
            },
    
            //inProgress Courses
            //completed courses
            getInProgressCourses: function() {
    
                axios.get('/api/in/progress/courses')
    
                    .then(res => {
                        this.inProgressCourses = res.data
                    }).catch(error => {
                    });
    
            },

            //get the products with no/zero progress

            getNotYetStartedCourses: function() {
    
                axios.get('/api/not/yet/started/courses')
    
                    .then(res => {
                        this.notYetStartedCourses = res.data
                    }).catch(error => {
                    });
    
            }
    
    
        },
        computed: {
            activeCourses: function() {
                return this.activeSubscriptions.filter(function(d) {
                    return d.modal;
                });
            }
        },
        mounted() {
    
            axios.get('/api/training/score')
    
                .then(res => {
                    //console.log(res.data);
                    this.activeSubscriptions = res.data
                }).catch(error => {
                    //alert(error)
                });
    
            //get completedCourses
            this.getCompletedCoursesScore();
    
            this.getInProgressCourses();

            this.getNotYetStartedCourses();
    
        },
    
    }
</script>