<template>
<v-app id="inspire">
    <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app class="backend-left-menu blue-grey darken-3" dark width="335">

        <!-- Testing -->

        <v-menu offset-x class="top-left-user" transition="scale-transition">
            <v-btn slot="activator" flat depressed class="pl-0">
                <v-avatar tile>
                    <!-- <img src="../../images/tk.png" alt="Tariq Khurshid"> -->
                </v-avatar>
                <!-- <div class="user-drop-down">
                        <span>Tariq Khursheed</span>
                        <i class="material-icons">
                            arrow_drop_down
                        </i>
                    </div> -->
            </v-btn>
            <v-list>
                <v-list-tile>
                    <v-list-tile-title>Link One</v-list-tile-title>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-title>Link Two</v-list-tile-title>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-title>Link Three</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>

        <!-- Testing end -->

        <v-list dense class="left-side-bar">
            <div>

                <v-list-tile-content class="custom-dash">
                    <v-list-tile-title>
                        <v-icon>home</v-icon>
                        <a href="#/" class="porto-button">Dashboard</a>
                    </v-list-tile-title>
                </v-list-tile-content>

            </div>

            <template v-for="item in items">
                <v-list-group v-if="item.children" v-model="item.model" :key="item.text" :append-icon="item.model ? item.icon : item['icon-alt']" :prepend-icon="item.model ? item.textIcon : item['textIcon-alt']">
                    <v-list-tile slot="activator" class="hello asdf">
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(child, i) in item.children" :key="i" :to="child.url" @click="dashboardActive">

                        <v-list-group sub-group :append-icon="child.model ? child.icon : child['icon-alt']" class="sub-child-start">
                            <v-list-tile slot="activator" class="broooook">
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <v-list-tile-title :title="child.text">
                                            <v-avatar size="32px" class="mr-2">
                                                <!-- <img :src="child.seal" :alt="child.text"> -->
                                                <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + child.seal" :alt="child.text">
                                                </v-avatar>
                                                <span>{{ child.text }}</span>
                                        </v-list-tile-title>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile v-for="(bChild, i) in child.subChildren" v-model="bChild.model" :key="bChild.text" :append-icon="bChild.model ? bChild.icon : bChild['icon-alt']" class="choty-bachy" :to="'/' + bChild.url" exact>
                                <v-list-tile-title>
                                    <i class="material-icons">
                                            {{bChild.icon}}
                                        </i>
                                    <span>{{ bChild.text }}</span>
                                </v-list-tile-title>
                            </v-list-tile>
                        </v-list-group>

                        <v-list-tile-action v-if="child.icon">
                            <v-icon>{{ child.icon }}</v-icon>
                        </v-list-tile-action>

                    </v-list-tile>
                </v-list-group>

                <v-list-tile v-else :key="item.text" @click="dashboardActive" class="no-child" :to="item.url == '#' ? '' : item.url" exact>
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ item.text }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
            <template v-for="item in workout_categories">
                <v-list-group  v-model="item.model" :key="item.text"  :prepend-icon="item.model ? item.textIcon : item['textIcon-alt']">
                    <v-list-tile slot="activator" class="hello asdf">
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(child, i) in item.children" :key="i" :to="child.url" @click="dashboardActive">

                        <v-list-group sub-group class="sub-child-start">
                            <v-list-tile slot="activator" class="broooook">
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <v-list-tile-title :title="child.text">
                                            <v-avatar size="32px" class="mr-2">
                                                <!-- <img :src="child.seal" :alt="child.text"> -->
                                                <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + child.seal" :alt="child.text">
                                                </v-avatar>
                                                <span>{{ child.text }}</span>
                                        </v-list-tile-title>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                         

                            <!-- <v-list-tile-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action> -->
                        </v-list-group>
                    </v-list-tile>
                </v-list-group>
            </template>
        </v-list>

    </v-navigation-drawer>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="white" light app fixed class="main-jedi-menu" style="padding-left:335px">
        <v-toolbar-title class="ml-0 pl-3">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <span class="hidden-xs-only brand-logo">
                    <img src="/img/common/logo.png" alt="ERAOFECOM">
                </span>
            <span class="hidden-sm-and-up brand-logo">
                    <img src="/img/common/logo.png" alt="ERAOFECOM">
                </span>
        </v-toolbar-title>

        <!-- <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>notifications</v-icon>
            </v-btn> -->

        <!--<v-menu offset-y>-->
        <!--<v-btn-->
        <!--slot="activator"-->
        <!--flat-->
        <!--depressed-->
        <!--class="pl-0"-->
        <!--&gt;-->
        <!--<v-avatar size="32px" tile class="mr-2">-->
        <!--<img src="../../images/tk.png" alt="Tariq Khurshid">-->
        <!--</v-avatar>-->
        <!--<span>Imran</span>-->
        <!--<i class="material-icons">-->
        <!--arrow_drop_down-->
        <!--</i>-->
        <!--</v-btn>-->
        <!--<v-list>-->
        <!--<v-list-tile @click="">-->
        <!--<v-list-tile-title>Link One</v-list-tile-title>-->
        <!--</v-list-tile>-->
        <!--<v-list-tile @click="">-->
        <!--<v-list-tile-title>Link Two</v-list-tile-title>-->
        <!--</v-list-tile>-->
        <!--<v-list-tile @click="">-->
        <!--<v-list-tile-title>Link Three</v-list-tile-title>-->
        <!--</v-list-tile>-->
        <!--</v-list>-->
        <!--</v-menu>-->
    </v-toolbar>
    <v-content>
        <v-container fluid fill-height>
            <v-layout justify-center align-center style="display: block">
                <router-view></router-view>
            </v-layout>
        </v-container>
    </v-content>

</v-app>
</template>

<style>
.left-side-bar .choty-bachy a {
    height: auto !important;
}

.v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
    height: auto;
    padding: 9px 0px;
}

.v-list--dense .v-list__tile:not(.v-list__tile--avatar) .v-list__tile {
    padding: 0;
}

.v-list__group .v-list__group .v-list__group__header:hover {
    background-color: transparent
}

.v-list__group .v-list__group--active:before,
.v-list__group .v-list__group--active:after {
    background: none !important;
}

.v-list__group .v-list__group .choty-bachy {
    padding-left: 0px
}

.v-list--dense .v-list__tile:not(.v-list__tile--avatar) .v-list__group {
    width: 100%
}
</style>

<script>
export default {
    data: () => ({
        drawer: null,
        items: [{
            icon: 'contacts',
            text: 'Dashboard',
            url: '/dashboard'
        }],
        workout_categories:[
            {
                  icon: 'keyboard_arrow_up',
                    'icon-alt': 'keyboard_arrow_down',
                    textIcon : 'card_membership',
                    'textIcon-alt' : 'card_membership',
                    text: 'Workout Scripts',
                    model: false,
                    children:''
            }
        ]

    }),
    props: {
        source: String
    },
    methods: {
        dashboardActive: function () {
            if (this.$router.currentRoute.path == '/' || this.$router.currentRoute.path == '/dashboard') {
                //$('.no-child .v-list__tile.v-list__tile--link').addClass('primary--text v-list__tile--active');
            } else {
                //$('.no-child .v-list__tile.v-list__tile--link').removeClass('primary--text v-list__tile--active');
            }
        },

        isIncludesLicenceCourses: function () {

            axios.get('api/isIncludesAll')

                .then(res => {

                    if (res.data == false) {

                        this.items[1] = ''; // // console.log('licence coursres arent includes');

                    } else {

                     
                    }


                }).catch(error => {
                    //alert(error)
                });

        },
        GetWorkoutCategories: function(){

            axios.get('api/workout/categories/all')

                .then(res => {

                    this.workout_categories[0].children = res.data;

                    console.log(this.workout_categories);

                }).catch(error => {
                  
                });

        }

    },

    mounted: function () {
        //console.log(this.$router.currentRoute.path);
        this.dashboardActive();
      

        //get all the designations
        axios.get('api/all/category/products')

            .then(res => {

                var index = 1;
              
                this.items = res.data;

                this.GetWorkoutCategories();


            }).catch(error => {
              
            });

    },
    created() {

    },
}
</script>
