<template>
    
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex xs12>
                    <h2 class="feature-heading">{{categoryName}} Scripts </h2>
                </v-flex>
                <v-flex xs12 class="listed-scripts">
                    <v-expansion-panel>
                        <v-expansion-panel-content v-for="(tools,index) in toolsData" :key="index" v-if="tools.workout_category_id == Parenttools">
    
                            <div slot="header">{{tools.title}}</div>
                            <v-card>
                                
                                <v-card-text>{{tools.para}}</v-card-text>
                                <v-card-text>{{tools.description}}</v-card-text>
                                <v-card-text class="pb-0 scripts-audio-player">
    
                                    <!-- <audio :src="'https://s3.us-east-2.amazonaws.com/greljedi/' + tools.file" preload="auto"></audio> -->
    
                                    <av-waveform :audio-src="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + tools.file"></av-waveform>
    
    
                                </v-card-text>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-flex>
            </v-layout>
        </v-container>
    
</template>

 
<script>
    import toolsData from '../config/scripts.json';
    
    export default {
        name: 'toolDetails',
        props: {
            Parenttools: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'toolsData': toolsData,
                'categoryName': ''
            }
        },
        methods: {
    
            getCategoryName: function() {
    
                axios.get('/api/category/name/' + this.Parenttools)
    
                    .then(res => {
                        this.categoryName = res.data;
    
                    }).catch(error => {
                        //alert(error)
                    });
    
            },
    
            getCategoryScripts: function() {
    
                axios.get('/api/category/scripts/' + this.Parenttools)
    
                    .then(res => {
                        this.toolsData = res.data;
                        //console.log(this.toolsData);
    
                    }).catch(error => {});
    
            }
        },
        mounted: function() {
            // audiojs.events.ready(function() {
            //     audiojs.createAll();
            // });
    
    
    
        },
        created() {
    
        },
        beforeMount: function() {
    
            this.getCategoryScripts();
    
            this.getCategoryName();
    
    
        },
        watch: {
            $route() { // on route change, fetch the data again
    
                this.getCategoryScripts();
    
                this.getCategoryName();
    
                //  audiojs.events.ready(function() {
                //     var as = audiojs.createAll();
                // });
    
            }
        }
    }
</script>

