// @import "./spark/spark";
@import "./../../../vendor/laravel/spark-aurelius/resources/assets/sass/spark";

.audiojs .play-pause {
    width: 36px;
}

.discount{
    text-decoration: line-through;
    padding-right: 5px;
}