.list-group span{
    float:right;
  }
iframe{border:none;}

.portal-dropdown  .custom-btn-stg{
  padding: 7px 15px;
  background-color: #223e7c !important;
  color: #fff !important;
  font-size: 20px;
  border-radius: 0;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.portal-dropdown  .sub-btn-stg{
  background-color: #5dc4f0 !important;
  margin-bottom: 6px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #fff !important;
  display: block;
}	
.portal-dropdown .list-group{
  display: block;
  max-width: 480px;
  border: none;
  box-shadow: none;
}	
.portal-dropdown .card-block{
 display: block;
 margin-bottom: 20px;
}	
.portal-dropdown .list-group-item{
  padding: 0px;
  background-color: #5dc4f0;
  border: none;
  color: #fff !important;
  font-size: 16px;
  padding-left: 30px;
  width: 100%;
}
.portal-dropdown .sub-btn-stg .badge{
  margin-right: 15px;
  margin-top: 4px; 
}
.portal-dropdown .custom-badge-stg {
  position: absolute;
  color: #fff;   
  top: 21%;
  right: 11%;
  border-radius: 9px;
  font-size: 15px;
  padding: 7px 32px;
}

.portal-dropdown .pass-color  {background-color:#28a745;}
.portal-dropdown .locked-color{background-color:#223e7c;}
.portal-dropdown .portal-dropdown{
    display: inline-block;	
}
.portal-dropdown .card{border:none}
.portal-dropdown .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 30px;
}
@media(min-width:991px) and (max-width:1199px){
.portal-dropdown .custom-btn-stg{
  font-size: 17px;
  padding: 7px 11px;     
}
.portal-dropdown .sub-btn-stg{
  margin-bottom: 6px;
  padding-top: 9px;
  padding-bottom: 9px;    
}
.portal-dropdown .list-group-item{
  font-size: 15px;
  padding-left: 12px;    
}
.portal-dropdown .sub-btn-stg .badge {
  margin-right: 4px;
  margin-top: 4px;
}  
}

@media(min-width:768px) and (max-width:991px){
.portal-dropdown .custom-btn-stg{
  padding: 7px 10px;
  font-size: 15px;
  margin-bottom: 6px;
}
.portal-dropdown .sub-btn-stg{
  margin-bottom: 6px;
  padding-top: 9px;
  padding-bottom: 21px;    
}
.portal-dropdown .list-group-item{
  font-size: 14px;
  padding-left: 0px;
  text-align: center;        
}
.portal-dropdown .sub-btn-stg .badge {
  margin-right: 25px;
  margin-top: 0px;
} 
.portal-dropdown .dropdown-toggle::after{right: 12px;} 
}
@media(max-width:767px){
.portal-dropdown .custom-btn-stg{
  padding: 7px 15px;
  font-size: 16px;
  margin-bottom: 7px; 
}
.portal-dropdown .list-group-item{
  font-size: 14px;
  padding-left: 25px;    
}
.portal-dropdown .sub-btn-stg{
  padding-top: 7px;
  padding-bottom: 7px;    
}
.portal-dropdown .card-block{margin-bottom: 10px;}
}